@import url('fonts/opensans.css');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff !important;
  margin: 0;
  min-width: 362px;
  font-family: Open Sans, Arial, sans-serif;
}

/* Header css */
header {
  max-width: 1300px;
  margin: 0 auto;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.heading {
  background-color: rgba(255,255,255,0.8);
  height: 48px;
  display: flex;
}

.left-part {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: start;
}

.left-part adress {
  border-radius: 10px;
  display: none;
}

@media screen and (min-width: 1050px) {
  .left-part adress {
    display: flex;
  }

  body adress {
    display: none;
  }
}

#logo {
  width: 50px;
  height: 30px;
  border-radius: 25px 0 15px 0px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(133, 89, 158);
  color:aliceblue;
  font-size: 0.8em;
  font-family: Permanent Marker, Arial, serif;
  transition: all 1s ease;
}

#logo:hover {
  background-color: rgb(153, 153, 253);
  color: rgb(112, 63, 190);
}

.user-menu {
  width: 20px;
  height: 20px;
  margin: 14px;
}

form.search {
  border: 3px solid rgb(133, 89, 158);
  height: 30px;
  margin: 9px 9px 9px 9px;
  max-width: 600px;
  flex: 1;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  display: none;
}

.search input {
  flex: 1;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 1em;
  padding: 0 10px;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s ease;
}

.search input:focus {
  outline: 0;
  background-color: white;
}

.search button {
  flex: 0 0 70px;
  border: none;
  background-color: rgb(133, 89, 158);
  cursor: pointer;  
  transition: all 0.5s ease;
}

.search button:hover {
  opacity: 0.7;
}

.services {
  height: 100%;
  display: flex;
  justify-content: right;
  float: right;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .services a:first-child {
    display: none;
  }

  form.search {
    display: flex;
  }


}

.services img {
  width: 20px;
  margin: 0 10px;
}

adress {
  clear: both;
  display: block;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  color: white;
  background-color: rgb(133, 89, 158);
}

/* navigation */
nav {
  display: none;
}

/* main */
main {
  padding: 0 10px;
  max-width: 1300px;
  margin: 0 auto;
}
/* advertizing */

.promo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  transition: opacity 0.5s;
}

.promo:hover {
  opacity: 0.8;
}
.promo .promo-image {
  width: 100%;
  border-radius: 30px;
}

.promo .left-arrow, .promo .right-arrow {
  position: absolute;
  top: 45%;
  width: 10%;
  border-radius: 10px;
}

.promo .right-arrow {
  right: 3%;
}

.promo .left-arrow {
  left: 3%;
}

.promo .left-arrow:hover, .promo .right-arrow:hover {
  background-color: rgba(255,255,255,0.3);
}

/* categories */

.items-cat {
  display: flex;
  flex-wrap: wrap;
}

.category {
  outline: 1px solid grey;
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 0 46%;
  margin: 2%;
  border-radius: 20px;
  transition: all 0.5s ease;
}

@media (min-width: 700px) {
  .category {
    flex: 0 0 21%;
  }
  
}

.category img {
  display: block;
  width: 60%;
  margin: 20% auto;
}

.category figcaption {
  display: block;
  position: absolute;
  width: 100%;
  padding: 0 10%;
  text-align: center;
  bottom: 5%;
}

.category:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px rgb(115, 115, 219);
  cursor: pointer;
}

/* hot items */

.hot-items {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.hot-item {
  display: block;
  width: 160px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  line-height: 2rem;
  margin: 10px;
  background-color: rgb(206, 206, 212);
  outline: 3px solid white;
  transition: all 1s ease;
  flex: 0 0 160px;
}

.hot-item:hover {
  background-color: aliceblue;
  outline: 3px solid rgb(133, 89, 158);
}

.hot-item img {
  width: 60%;
}

.old-price {
  padding: 0 10%;
  align-self: start;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(189, 188, 188);
  border-radius: 30px 0;
  position: relative;
}

.old-price:before {
  content: " ";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  left: 10%;
  background-color: #9d9d9d;
}

.new-price {
  font-size: 2rem;
}

.hot-item figcaption:hover, .hot-item img:hover {
  cursor: pointer;
}

.hot-items .left-arrow, .hot-items .right-arrow {
  position: absolute;
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(124, 124, 124, 0.3);
  transition: all 0.5s ease;
}

.hot-items .left-arrow:hover, .hot-items .right-arrow:hover {
  background-color: rgba(255,255,255,0.6);
}

.hot-items .left-arrow {
  left: 0;
}

.hot-items .right-arrow {
  right: 0;
}

/* footer */

footer {
  background-color: rgb(133, 89, 158);
}

footer svg {
  margin: 0 10px;
}

footer svg:hover {
  cursor: pointer;
}

svg #youtube-color, #vk-color, #telegram {
  transition: fill 0.5s ease;
  fill: grey;
}

svg:hover #youtube-color {
  fill: #f00;
}

svg:hover #vk-color {
  fill: #4c75a3;
}

svg:hover #telegram {
  fill: #38b0e3;
}

footer .social-media {
  height: 50px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

ul.info {
  max-width: 1300px;
  list-style: none;
  margin: 10px auto;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;

}

ul.info li {
  margin: 10px 0;
}

ul.info li:first-child {
  margin-left: 0;
}

ul.info li span {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.copyright {
  color: white;
  border-top: 1px solid grey;
}

.copyright p {
  box-sizing: border-box;
  max-width: 1300px;
  padding: 0 10px;
  margin: 10px auto;
}

.info li ul {
  list-style: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  display: none;
}

.info li ul li {
  margin: 10px 0;
  cursor: pointer;
}

@media (min-width: 700px) {

  ul.info>li {
    margin: 10px 5%;
  }

  .info li ul {
    display: unset;
  }

  ul.info li span {
    display: none;
  }

  .info {
    display: flex;
    justify-content: start;
  }
}