* {
  box-sizing: border-box;
}

body {
  background-color: #e2eeee;
  margin: 0;
  min-width: 326px;
  font-family: Arial, sans-serif;
}

/* Header css */
header {
  height: 78px;
}

.heading {
  background-color: white;
  height: 48px;
}

#logo {
  width: 50px;
  height: 30px;
  border-radius: 25px;
  line-height: 30px;
  text-align: center;
  float: left;
  background-color: #afafaf;
  margin: 9px 9px 9px 20px;
  font-size: 0.8em;
  font-family: Permanent Marker, Arial, serif;
}

.user-menu {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 14px;
}

.services {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.services img {
  width: 20px;
  margin: 0 10px;
}

adress {
  display: block;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: #afafaf;
}
