* {
  box-sizing: border-box;
}

body {
  background-color: #e2eeee;
  margin: 0;
  min-width: 362px;
  font-family: Arial, sans-serif;
}

/* Header css */
header {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.heading {
  background-color: rgba(255,255,255,0.8);
  height: 48px;
}

#logo {
  width: 50px;
  height: 30px;
  border-radius: 25px;
  line-height: 30px;
  text-align: center;
  float: left;
  background-color: #afafaf;
  margin: 9px 9px 9px 20px;
  font-size: 0.8em;
  font-family: Permanent Marker, Arial, serif;
}

.user-menu {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 14px;
}

.services {
  height: 100%;
  display: flex;
  justify-content: right;
  float: right;
  align-items: center;
}

.services img {
  width: 20px;
  margin: 0 10px;
}

adress {
  display: block;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: #afafaf;
}

/* navigation */
nav {
  display: none;
}

/* main */
main {
  max-width: 960px;
  margin: 0 auto;
}
/* advertizing */

.promo {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  transition: opacity 0.5s;
}

.promo:hover {
  opacity: 0.8;
}
.promo .promo-image {
  width: 100%;
  border-radius: 30px;
}

.promo .left-arrow, .promo .right-arrow {
  position: absolute;
  top: 45%;
  width: 10%;
}

.promo .right-arrow {
  right: 3%;
}

.promo .left-arrow {
  left: 3%;
}

.promo .left-arrow:hover, .promo .right-arrow:hover {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
}

/* categories */

.items-cat {
  outline: 1px solid red;
  position: relative;
  overflow: visible;
  display: flex;
  transition: left 0.5s;
}

.category {
  outline: 1px solid blue;
  margin: 0;
  padding: 0;
  flex: 0 0 50%;
}

.items-cat:hover {
  left: -50%;
}